
.nav-header {
    width: 99%;
    height: 60px;
    background-color: #e7777786;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 15px;
    
    .header {
        height: 50%;
        display: flex;
        
        
    }
    .input-nav {
        width: 20%;
    }

    .board-header {
        height: 50%;
        display: flex;
        justify-content: space-between;
    }

    .home-icon {
        margin: 10px;
    }
}